* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
@import "bootstrap/scss/bootstrap-grid";

:root {
  --blanc: #ffffff;
  --blanc--50: #ffffff80;
  --Gris-vert: #789485;
  --vert-foncé: #001e1b;
  --Gris-clair: #bcbcbc;
  --Noir: #000000;
}
body {
  color: var(--blanc);
  font-family: "Basic Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  a {
    text-decoration: none;
  }
  background-color: var(--vert-foncé);
}
.menu {
  width: 191px;
  text-align: right;
  align-items: flex-end;
  position: fixed;
  right: 72px;
  top: 0px;
  .logo-rossignol {
    width: 81px;
  }
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 70px;
  .menu-part-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 37px;
  }
  .menu-part-3 {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 21px;
    color: var(--blanc--50);
    .réseaux {
      display: flex;
      gap: 9px;
      img {
        width: 25px;
      }
    }

    .menu-part-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 5px;
      font-size: 19px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
.Accueil-part {
  height: 851px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../img/header1.png) lightgray 50% / cover no-repeat;
}
.compte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 40px;
  .langue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 300;
  }
  .shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #fff;
  font-family: "Joly Headline";
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  margin-top: 380px;
  strong {
    font-weight: 900;
    line-height: 34px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--Blanc, #fff);
  color: var(--Blanc, var(--Blanc, #fff));
  text-align: center;
  font-family: "Basic Sans";
  font-size: 17px;
  transition: 0.5s;
}
.button-white {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--blanc);
  border-radius: 25px;
  color: var(--Noir);
  text-align: center;
  font-family: "Basic Sans";
  font-size: 17px;
  transition: 0.5s;
}

.button-white:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--Blanc, #fff);
  color: var(--Blanc, var(--Blanc, #fff));
  text-align: center;
  font-family: "Basic Sans";
  font-size: 17px;
  background: none;
}
.button:hover {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--blanc);
  border-radius: 25px;
  color: var(--Noir);
  text-align: center;
  font-family: "Basic Sans";
  font-size: 17px;
}

.avant-vue {
  display: flex;
  height: 697px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.présentation-vin-rouge,
.présentation-vin-blanc {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  transition: 0.5s;
  background: var(--vert-foncé);
  transform: translateY(-85px);

  h3 {
    align-self: stretch;
    font-family: "Joly Headline";
    font-size: 23px;
    font-weight: 900;
  }
  p {
    align-self: stretch;
    font-size: 16px;
    font-weight: 300;
  }
}
.élément:hover {
  .présentation-vin-blanc,
  .présentation-vin-rouge {
    transform: translateY(-207px);
    background: var(--Gris-vert);
  }
}
.Avant-vue-titre {
  align-self: stretch;
  text-align: right;
  font-family: "Joly Headline";
  font-size: 43px;
  font-weight: 900;
  margin-top: 80px;
}
